# Oracle Cloud Infrastructure Registry
OCIR_IMAGE=ap-mumbai-1.ocir.io/bmipfqr326qf/interviewprep-frontend

# Image tag (set by CI/CD, default to latest for manual deploys)
IMAGE_TAG=latest

# Frontend env - Backend API base URL
API_URL=http://144.24.99.5

# Nginx proxy - Backend API URL (with port)
API_BACKEND_URL=http://144.24.99.5:8080
